{% extends "base.html" %}

{% block title %}{{ nome }}{% endblock %}

{% block content %}

<h2>{{ nome }}</h2>
<hr>

<img src="{{ sprite }}" alt="Sprite do {{ nome }}" width="180">

<p><strong>Tipos:</strong>
  {% for t in tipos %}
    {{ t }}{% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>

<p><strong>Altura:</strong> {{ altura }}</p>
<p><strong>Peso:</strong> {{ peso }}</p>

<h3>Status</h3>
<ul>
  {% for nome_stat, valor_stat in status.items %}
    <li><strong>{{ nome_stat|upper }}:</strong> {{ valor_stat }}</li>
  {% endfor %}
</ul>

<hr>

<a href="{% url 'time' %}">
  <button>Voltar</button>
</a>

{% endblock %}