
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    color: #111;
}


h1 {
    background-color: #d62828;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 6px solid black; 
}

body > *:not(h1) {
    padding: 20px;
}


h2 {
    color: #d62828;
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    color: #222;
}

img {
    display: block;
    margin: 15px 0;
}

ul {
    list-style: none;
    margin-top: 10px;
}

li {
    margin-bottom: 5px;
}

button {
    background-color: #d62828;
    color: white;
    border: 2px solid black;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

button:hover {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
}



.time-container {
    max-width: 900px;        
    margin: 30px auto;      
    padding: 20px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    
    border: 3px solid #111;
    background-color: #f9f9f9;
}

.poke-card {
    background: #fff;
    border: 2px solid #111;
    padding: 16px;
    text-align: center;
}

.poke-card img {
    display: block;
    margin: 12px auto 0;
    transition: transform 0.15s ease;
}

.poke-card img:hover {
    transform: scale(1.08);
}


h2 {
    text-align: center;
}

.entrada {
    max-width: 720px;
    margin: 60px auto;
    padding: 40px 30px;

    text-align: center;

    background: #fff;
    border: 3px solid #111;
    border-radius: 14px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
}

.entrada p {
    font-size: 1.15rem;
    margin-bottom: 18px;
    color: #222;
}

.botao-voltar {
    text-align: center;
    margin-top: 20px;
}

.centralizar-pokes {
    background: #fff;
    border: 2px solid #111;
    padding: 16px;
    text-align: center
}

.centralizar-pokes img {
    display: block;
    margin: 12px auto 0;
    transition: transform 0.15s ease;
}

.botao-mega-evoluir {
    text-align: center;
    margin-top: 20px;
}
